/* alignment styles */
.text-align-left  {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}

/* block alignment styles */
.image-align-left {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}
.image-align-right {
  float: right;
  margin-left: 6px;
  margin-bottom: 6px;
}

/* font sizes */
.font-size-small {
  font-size: 0.75em;
}
.font-size-normal {
  font-size: 1em;
}
.font-size-large {
  font-size: 1.25em;
}

.text-color-blue-light{
  color: #98d1d8;
}
.text-color-blue-twilight{
  color: #0e3961;
}
.text-color-blue-flat{
  color: #3486ab;
}
.text-color-grey-pale{
  color: #e5e6ea;
}
.text-color-grey-pale-two{
  color: #dfeaec;
}
.text-color-grey-pale-three{
  color: #e8e7eb;
}
.text-color-grey-cool{
  color: #adb0b7;
}
.text-color-white{
  color: #ffffff;
}
.text-color-blue-duck-egg{
  color: #e1f6f9;
}
.text-color-black{
  color: #000000;
}
.light-grey-blue{
  color: #98d1d8;
}
.special-type-quoted{
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #98d1d8;
  padding-left: 25px;
  margin-left: 25px;
  border-left: solid 5px #98d1d8;
}

.special-type-caption{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #adb0b7;
}
